Repository MiczFlor/RPi-Jukebox-RFID, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jeripeierSBB, @AlvinSchiller, @Groovylein

Extend ignore
  .flake8
Owners: none

Fix exclude
  .flake8
Owners: none

feat: Add resume position tracking
  documentation/developers/status.md
  resources/default-settings/jukebox.default.yaml
  src/jukebox/components/playermpd/__init__.py
  src/jukebox/components/playermpd/resume_position_tracker.py
Owners: none

fix: bad utils.get_config_action invocations
  src/jukebox/components/playermpd/__init__.py
Owners: none

Make function more secure
  htdocs/api/common.php
Owners: none

Escape command
  htdocs/inc.setWifi.php
Owners: none

fix: bad utils.get_config_action invocations (#2339)
  src/jukebox/components/playermpd/__init__.py
Owners: none

reduce changes
  htdocs/inc.setWifi.php
Owners: none

fix: added vars into logfile
  scripts/installscripts/install-jukebox.sh
Owners: @jeripeierSBB

feat: Add Idle Shutdown Timer support
  documentation/developers/status.md
  resources/default-settings/jukebox.default.yaml
  src/jukebox/components/timers/__init__.py
  src/jukebox/components/timers/idle_shutdown_timer.py
Owners: none

Update .gitignore
  .gitignore
Owners: none

Update .gitignore
  .gitignore
Owners: none

reduce changes
  htdocs/api/common.php
Owners: none

reduce changes
  htdocs/inc.setWifi.php
Owners: none

revert gitignore
  .gitignore
Owners: none

refactor: split finish_installation routine
  scripts/installscripts/install-jukebox.sh
Owners: @jeripeierSBB

refactor: removed "Replace homedir" code in installation
  scripts/installscripts/install-jukebox.sh
Owners: @jeripeierSBB

fix: add escaping for all vars written to PhonieboxInstall.conf
  scripts/installscripts/install-jukebox.sh
Owners: @jeripeierSBB

refactor: change and unify sed delimiter to pipe char
  scripts/installscripts/install-jukebox.sh
Owners: @jeripeierSBB

fix: add escaping for sed replacements
  scripts/installscripts/install-jukebox.sh
Owners: @jeripeierSBB

refactor: moved network setup into install_main
  scripts/installscripts/install-jukebox.sh
Owners: @jeripeierSBB

refactor: introduce helper script, moved functions
  scripts/helperscripts/inc.helper.sh
  scripts/helperscripts/setup_autohotspot.sh
  scripts/installscripts/install-jukebox.sh
Owners: @Groovylein, @jeripeierSBB

fix: add escaping for autohotspot
  scripts/helperscripts/setup_autohotspot.sh
Owners: @Groovylein

fix: command for special char handling
  scripts/helperscripts/inc.networkHelper.sh
  scripts/helperscripts/setup_autohotspot.sh
Owners: @Groovylein

fix: update testdata for special chars
  scripts/installscripts/tests/run_installation_autohotspot_NetworkManager.sh
  scripts/installscripts/tests/run_installation_autohotspot_dhcpcd.sh
  scripts/installscripts/tests/run_installation_classic.sh
  scripts/installscripts/tests/run_installation_rfid.sh
  scripts/installscripts/tests/run_installation_spotify.sh
  scripts/installscripts/tests/run_installation_staticip_dhcpcd.sh
Owners: none

Revert some changes
  docker/config/docker.mpd.conf
  src/jukebox/components/volume/__init__.py
Owners: none

ignore some warnings
  .flake8
Owners: none

fix some warnings
  components/bluetooth-sink-switch/bt-sink-switch.py
  scripts/Reader.py.experimental
Owners: none

annote flake8 warnings in github actions
  .github/workflows/pythonpackage.yml
Owners: none

fix: pin pyzmq version to <26
  installation/routines/setup_jukebox_core.sh
Owners: none

fix: add checks for installed ZMQ version and DRAFT_API
  installation/routines/setup_jukebox_core.sh
Owners: none

Bump version to hotfix v3.5.3
  src/jukebox/jukebox/version.py
Owners: none

hotfix pyzmq installation on bullseye (pin version <26) (#2345)
  installation/routines/setup_jukebox_core.sh
  src/jukebox/jukebox/version.py
Owners: none

fix some flake warnings
  components/bluetooth-sink-switch/bt-sink-switch.py
  components/controls/buttons-bluetooth-headphone/bt-buttons.py
Owners: none

fix: Add cmake as requirement to support pyzmq build
  requirements.txt
Owners: none

feat: Introduce Web App Settings
  src/jukebox/components/misc.py
  src/webapp/src/App.js
  src/webapp/src/commands/index.js
  src/webapp/src/context/appsettings/context.js
  src/webapp/src/context/appsettings/index.js
Owners: none

feat: Allow to enable/disable Cover Art in Web App
  resources/default-settings/jukebox.default.yaml
  src/webapp/src/components/Library/lists/albums/album-list/album-list-item.js
  src/webapp/src/components/Player/index.js
Owners: none

fix: Remove cmake and pin pyzmq<26 as cmake does not build well in RPI env
  docker/Dockerfile.jukebox
  requirements.txt
Owners: none

fix: docker build after pyzmq update (#2351)
  docker/Dockerfile.jukebox
Owners: none

fix: handle Falsy mimetype and data even when APIC tag has been found my mutagen
  src/jukebox/components/playermpd/coverart_cache_manager.py
Owners: none

.github/CODEOWNERS:

/components/controls/buttons_usb_encoder/ @jeripeierSBB
/components/synchronisation/sync-shared @AlvinSchiller
/scripts/installscripts/install-jukebox.sh @jeripeierSBB
/scripts/helperscripts/setup_autohotspot.sh @Groovylein
