Repository MiczFlor/RPi-Jukebox-RFID, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jeripeierSBB, @AlvinSchiller, @Groovylein

updated readme
  components/gpio_control/README.md
  components/gpio_control/example_configs/gpio_settings.ini
Owners: none

added args for usb button mapping
  components/controls/buttons_usb_encoder/README.md
  components/controls/buttons_usb_encoder/buttons_usb_encoder.py
  components/controls/buttons_usb_encoder/map_buttons_usb_encoder.py
Owners: @jeripeierSBB

moved config files in subdir
  misc/sampleconfigs/autohotspot/dhcpcd/autohotspot.service.stretch-default2-Hotspot.sample
  misc/sampleconfigs/autohotspot/dhcpcd/autohotspot.sh.stretch-default2-Hotspot.sample
  misc/sampleconfigs/autohotspot/dhcpcd/dnsmasq.conf.stretch-default2-Hotspot.sample
  misc/sampleconfigs/autohotspot/dhcpcd/hostapd.conf.stretch-default2-Hotspot.sample
  misc/sampleconfigs/autohotspot/dhcpcd/hostapd.stretch-default2-Hotspot.sample
Owners: none

refactored config file handling to functions. Added interfaces conf file handling.
  scripts/helperscripts/setup_autohotspot.sh
Owners: @Groovylein

renamed autohotspot resources.
  misc/sampleconfigs/autohotspot/dhcpcd/autohotspot
  misc/sampleconfigs/autohotspot/dhcpcd/autohotspot.service
  misc/sampleconfigs/autohotspot/dhcpcd/dnsmasq.conf
  misc/sampleconfigs/autohotspot/dhcpcd/hostapd
  misc/sampleconfigs/autohotspot/dhcpcd/hostapd.conf
  scripts/helperscripts/setup_autohotspot.sh
Owners: @Groovylein

update tests
  scripts/installscripts/tests/test_installation.sh
Owners: none

updates from v3. change crontab to timer service
  misc/sampleconfigs/autohotspot/dhcpcd/autohotspot
  misc/sampleconfigs/autohotspot/dhcpcd/autohotspot-daemon.service
  misc/sampleconfigs/autohotspot/dhcpcd/autohotspot.service
  misc/sampleconfigs/autohotspot/dhcpcd/autohotspot.timer
  misc/sampleconfigs/autohotspot/dhcpcd/dnsmasq.conf
  misc/sampleconfigs/autohotspot/dhcpcd/hostapd.conf
  scripts/helperscripts/setup_autohotspot.sh
Owners: @Groovylein

fix tests
  scripts/installscripts/tests/test_installation.sh
Owners: none

add support for NetworkManager
  misc/sampleconfigs/autohotspot/NetworkManager/autohotspot
  misc/sampleconfigs/autohotspot/NetworkManager/autohotspot.service
  misc/sampleconfigs/autohotspot/NetworkManager/autohotspot.timer
  packages-autohotspot_NetworkManager.txt
  scripts/helperscripts/setup_autohotspot.sh
  scripts/installscripts/tests/test_installation.sh
Owners: @Groovylein

add service enablement check
  ci/Dockerfile.debian
  packages-autohotspot_dhcpcd.txt
  scripts/helperscripts/setup_autohotspot.sh
Owners: @Groovylein

add uninstall before installation on updates
  scripts/installscripts/install-jukebox.sh
Owners: @jeripeierSBB

fix tests
  scripts/installscripts/tests/test_installation.sh
Owners: none

fix mpd test if not installed
  scripts/installscripts/tests/test_installation.sh
Owners: none

add tests for network management
  .github/workflows/test_docker_debian_codename_sub.yml
  scripts/helperscripts/setup_autohotspot.sh
  scripts/installscripts/tests/run_installation_NetworkManager.sh
  scripts/installscripts/tests/run_installation_classic.sh
  scripts/installscripts/tests/run_installation_dhcpcd.sh
  scripts/installscripts/tests/test_installation.sh
Owners: @Groovylein

Update README.md
  components/controls/buttons_usb_encoder/README.md
Owners: @jeripeierSBB

start service instead of script.
  scripts/playout_controls.sh
Owners: none

remove wpa_cli references (not needed).
  scripts/playout_controls.sh
Owners: none

add api version for new version 2.0.0 compatibility
  components/smart-home-automation/MQTT-protocol/daemon_mqtt_client.py
Owners: none

fix parameter name
  components/gpio_control/function_calls.py
Owners: none

update parameter names
  components/gpio_control/function_calls.py
Owners: none

update examples
  components/gpio_control/example_configs/gpio_settings.ini
  misc/sampleconfigs/gpio_settings.ini.sample
Owners: none

fix args for shutdownButton handler
  components/gpio_control/GPIODevices/shutdown_button.py
Owners: none

update doc
  components/gpio_control/README.md
Owners: none

remove duplicate rst doc file
  src/jukebox/components/controls/bluetooth_audio_buttons/README.rst
Owners: none

fix link
  documentation/developers/rfid/mock_reader.md
Owners: none

(maint) Remove duplicate rst (#2269)
  documentation/developers/rfid/mock_reader.md
  src/jukebox/components/controls/bluetooth_audio_buttons/README.rst
Owners: none

remove --pre
  docker/jukebox.Dockerfile
Owners: none

dont use prereleases
  installation/routines/setup_jukebox_core.sh
Owners: none

dont use prereleases (docker)
  docker/armv7/jukebox.Dockerfile
  docker/jukebox.Dockerfile
Owners: none

Bump to version 3.5.2
  src/jukebox/jukebox/version.py
Owners: none

add api version for new version 2.0.0 compatibility (#2265)
  components/smart-home-automation/MQTT-protocol/daemon_mqtt_client.py
Owners: none

Hotfix for pyzmq installation (#2272)
  docker/armv7/jukebox.Dockerfile
  docker/jukebox.Dockerfile
  installation/routines/setup_jukebox_core.sh
  src/jukebox/jukebox/version.py
Owners: none

Event Device Support (`evdev`) (#1943)
  documentation/builders/README.md
  documentation/builders/event-devices.md
  documentation/developers/docker.md
  resources/default-settings/evdev.example.yaml
  src/jukebox/components/controls/bluetooth_audio_buttons/__init__.py
  src/jukebox/components/controls/event_devices/__init__.py
  test/evdev/test_evdev_init.py
Owners: none

Apply suggestions from code review
  components/gpio_control/README.md
Owners: none

commented test main functions
  components/gpio_control/GPIODevices/rotary_encoder.py
  components/gpio_control/GPIODevices/simple_button.py
  components/gpio_control/GPIODevices/two_button_control.py
Owners: none

change default to yes
  components/controls/buttons_usb_encoder/map_buttons_usb_encoder.py
Owners: @jeripeierSBB

refactor to markdown links
  components/gpio_control/README.md
Owners: none

updated pytest and coverage paths. ignore test dirs
  .coveragerc
  .github/workflows/pythonpackage.yml
  components/gpio_control/test/conftest.py
Owners: none

removed source and omit scripts folder
  .coveragerc
Owners: none

upload coverage html
  .github/workflows/pythonpackage.yml
Owners: none

.github/CODEOWNERS:

/components/controls/buttons_usb_encoder/ @jeripeierSBB
/components/synchronisation/sync-shared @AlvinSchiller
/scripts/installscripts/install-jukebox.sh @jeripeierSBB
/scripts/helperscripts/setup_autohotspot.sh @Groovylein
