Repository MiczFlor/RPi-Jukebox-RFID, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jeripeierSBB, @AlvinSchiller, @Groovylein

add markdown action
  .github/workflows/markdown_v3.yml
Owners: none

use different action
  .github/workflows/markdown_v3.yml
Owners: none

change linter
  .github/workflows/markdown_v3.yml
Owners: none

add checkout
  .github/workflows/markdown_v3.yml
Owners: none

change globs
  .github/workflows/markdown_v3.yml
Owners: none

change wildcard
  .github/workflows/markdown_v3.yml
Owners: none

Aktualisieren von markdown_v3.yml
  .github/workflows/markdown_v3.yml
Owners: none

fix ignore
  .github/workflows/markdown_v3.yml
Owners: none

comment ignore
  .github/workflows/markdown_v3.yml
Owners: none

change version
  .github/workflows/markdown_v3.yml
Owners: none

use master
  .github/workflows/markdown_v3.yml
Owners: none

new action used for linting
  .github/workflows/markdown_v3.yml
Owners: none

Update issue templates (#2280)
  .github/ISSUE_TEMPLATE/bug_template.md
  .github/ISSUE_TEMPLATE/bug_v2.yaml
  .github/ISSUE_TEMPLATE/bug_v3.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_template.md
  .github/ISSUE_TEMPLATE/feature_v3.yaml
  .github/ISSUE_TEMPLATE/future3.md
  README.md
Owners: none

Fix config
  .github/workflows/markdown_v3.yml
Owners: none

Remove ignore
  .github/workflows/markdown_v3.yml
Owners: none

Ignore docstring dir
  .github/workflows/markdown_v3.yml
Owners: none

updated installation wifi setup
  misc/sampleconfigs/dhcpcd.conf.buster-default-noHotspot.sample
  misc/sampleconfigs/wpa_supplicant.conf.buster-default.sample
  scripts/helperscripts/inc.networkHelper.sh
  scripts/helperscripts/setup_autohotspot.sh
  scripts/installscripts/install-jukebox.sh
Owners: @Groovylein, @jeripeierSBB

updated wifi ui
  htdocs/inc.setWifi.php
  scripts/helperscripts/inc.networkHelper.sh
Owners: none

changed order of logic to always get the current file state
  htdocs/inc.setWifi.php
Owners: none

simplify ui wifi logic
  htdocs/inc.setWifi.php
Owners: none

set active connection readonly
  htdocs/inc.setWifi.php
  scripts/helperscripts/inc.networkHelper.sh
Owners: none

reorder active connection to front. use uuid for iteration.
  htdocs/inc.setWifi.php
  scripts/helperscripts/inc.networkHelper.sh
Owners: none

ignore GitHub
  .github/workflows/markdown_v3.yml
Owners: none

Aktualisieren von markdown_v3.yml
  .github/workflows/markdown_v3.yml
Owners: none

use dot true
  .github/workflows/markdown_v3.yml
Owners: none

Aktualisieren von markdown_v3.yml
  .github/workflows/markdown_v3.yml
Owners: none

remove unneccary comment
  scripts/installscripts/install-jukebox.sh
Owners: @jeripeierSBB

Publish playerstatus, so that buttons work on the player
  src/jukebox/components/player/backends/mpd/interfacing_mpd.py
  src/jukebox/components/player/plugin/__init__.py
Owners: none

test added. some changes needed
  .github/workflows/test_docker_debian_codename_sub.yml
  scripts/helperscripts/inc.networkHelper.sh
  scripts/helperscripts/setup_autohotspot.sh
  scripts/installscripts/tests/run_installation_dhcpcd_autohotspot.sh
  scripts/installscripts/tests/run_installation_dhcpcd_staticip.sh
  scripts/installscripts/tests/test_installation.sh
Owners: @Groovylein

fixed ci var definition
  scripts/installscripts/tests/run_installation_NetworkManager.sh
  scripts/installscripts/tests/run_installation_dhcpcd_autohotspot.sh
  scripts/installscripts/tests/run_installation_dhcpcd_staticip.sh
Owners: none

changed test order
  scripts/installscripts/tests/test_installation.sh
Owners: none

updated logs for network settings
  scripts/installscripts/install-jukebox.sh
Owners: @jeripeierSBB

extracted get passphrase function. use also in tests
  scripts/helperscripts/inc.networkHelper.sh
  scripts/installscripts/tests/test_installation.sh
Owners: none

restored dhcpcd wpa conf setup. fixed tests
  misc/sampleconfigs/wpa_supplicant.conf.sample
  scripts/installscripts/install-jukebox.sh
  scripts/installscripts/tests/test_installation.sh
Owners: @jeripeierSBB

fix autohotspot setup
  scripts/helperscripts/setup_autohotspot.sh
Owners: @Groovylein

update ci tests scripts. renamed
  .github/workflows/test_docker_debian_codename_sub.yml
  scripts/installscripts/tests/run_installation_autohotspot_NetworkManager.sh
  scripts/installscripts/tests/run_installation_autohotspot_dhcpcd.sh
  scripts/installscripts/tests/run_installation_staticip_dhcpcd.sh
Owners: none

improve readability and update tests parameter
  scripts/installscripts/tests/run_installation_classic.sh
  scripts/installscripts/tests/run_installation_tests2.sh
  scripts/installscripts/tests/run_installation_tests3.sh
Owners: none

removed log output
  scripts/installscripts/install-jukebox.sh
Owners: @jeripeierSBB

change default for wifi/staticip setup to "no"
  scripts/installscripts/install-jukebox.sh
Owners: @jeripeierSBB

Fix search filter in library #2290
  src/webapp/src/components/Library/lists/index.js
Owners: none

.github/CODEOWNERS:

/components/controls/buttons_usb_encoder/ @jeripeierSBB
/components/synchronisation/sync-shared @AlvinSchiller
/scripts/installscripts/install-jukebox.sh @jeripeierSBB
/scripts/helperscripts/setup_autohotspot.sh @Groovylein
