Repository MiczFlor/RPi-Jukebox-RFID, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jeripeierSBB, @AlvinSchiller, @Groovylein

ignore warnings
  components/bluetooth-sink-switch/bt-sink-switch.py
  components/controls/buttons_usb_encoder/buttons_usb_encoder.py
  components/controls/buttons_usb_encoder/map_buttons_usb_encoder.py
Owners: @jeripeierSBB

ignore and fix warnings
  components/gpio_control/config_compatibility.py
  scripts/Reader.py.experimental
Owners: none

fix warnings
  components/smart-home-automation/MQTT-protocol/daemon_mqtt_client.py
  scripts/Reader.py.experimental.Multi
  scripts/Reader.py.kkmoonRFIDreader
  scripts/Reader.py.original
Owners: none

fix markdown errors
  README.md
  ci/README.md
  components/controls/buttons-bluetooth-headphone/README.md
  components/gpio_control/README.md
  components/synchronisation/sync-shared/README.md
Owners: @AlvinSchiller

add markdownlint action and config
  .github/workflows/markdown.yml
  .markdownlint-cli2.yml
Owners: none

fix action
  .github/workflows/markdown.yml
Owners: none

rename config file
  .markdownlint-cli2.yaml
Owners: none

fix ignore paths
  .markdownlint-cli2.yaml
Owners: none

fix warnings
  scripts/helperscripts/README.md
Owners: none

disable MD033 and MD045 locally
  README.md
Owners: none

Revert changes
  .gitignore
Owners: none

Add markdownlint config and action for V2 (#2369)
  .github/workflows/markdown.yml
  .markdownlint-cli2.yaml
  README.md
  ci/README.md
  components/controls/buttons-bluetooth-headphone/README.md
  components/gpio_control/README.md
  components/synchronisation/sync-shared/README.md
  scripts/helperscripts/README.md
Owners: @AlvinSchiller

fix flake8 warning
  components/controls/buttons_usb_encoder/buttons_usb_encoder.py
Owners: @jeripeierSBB

fix flake8 warnings
  scripts/Reader.py
  scripts/Reader.py.Multi
  scripts/Reader.py.kkmoonRFIDreader
  scripts/Reader.py.original
  scripts/daemon_rfid_reader.py
Owners: none

install dependencies
  .github/workflows/pythonpackage.yml
Owners: none

configure flake8
  .flake8
  components/controls/buttons_usb_encoder/buttons_usb_encoder.py
  components/controls/buttons_usb_encoder/io_buttons_usb_encoder.py
Owners: @jeripeierSBB

suppress warning
  scripts/RegisterDevice.py.Multi
Owners: none

fix imports
  .github/workflows/pythonpackage.yml
  scripts/Reader.py.experimental.Multi
Owners: none

fix warning
  scripts/helperscripts/organizeFiles.py
Owners: none

suppress some documentation warnings
  .flake8
Owners: none

fix formatting
  README.md
  components/controls/buttons-bluetooth-headphone/README.md
Owners: none

fix formatting (#2371)
  README.md
  components/controls/buttons-bluetooth-headphone/README.md
Owners: none

add details about cards
  documentation/developers/rfid/mfrc522_spi.md
Owners: none

fix empty line
  documentation/developers/rfid/mfrc522_spi.md
Owners: none

Update documentation/developers/rfid/mfrc522_spi.md
  documentation/developers/rfid/mfrc522_spi.md
Owners: none

document working cards for rc522
  components/rfid-reader/RC522/README.md
Owners: none

maint: Use flake8 config file (#2338)
  .flake8
  .github/workflows/pythonpackage.yml
  components/bluetooth-sink-switch/bt-sink-switch.py
  components/controls/buttons-bluetooth-headphone/bt-buttons.py
  components/controls/buttons_usb_encoder/buttons_usb_encoder.py
  components/controls/buttons_usb_encoder/io_buttons_usb_encoder.py
  components/controls/buttons_usb_encoder/map_buttons_usb_encoder.py
  components/gpio_control/config_compatibility.py
  components/gpio_control/function_calls.py
  components/smart-home-automation/MQTT-protocol/daemon_mqtt_client.py
  scripts/Reader.py
  scripts/Reader.py.Multi
  scripts/Reader.py.experimental
  scripts/Reader.py.experimental.Multi
  scripts/Reader.py.kkmoonRFIDreader
  scripts/Reader.py.original
  scripts/Reader.py.pcsc
  scripts/RegisterDevice.py.Multi
  scripts/daemon_rfid_reader.py
  scripts/helperscripts/organizeFiles.py
Owners: @jeripeierSBB

add details about cards for RC522 (#2372)
  documentation/developers/rfid/mfrc522_spi.md
Owners: none

document working cards for rc522 (#2374)
  components/rfid-reader/RC522/README.md
Owners: none

Revert "specify specific pip version wich works with zmq install"
  installation/routines/setup_jukebox_core.sh
Owners: none

correct format
  src/jukebox/components/battery_monitor/batt_mon_i2c_ina219/__init__.py
Owners: none

Remove unused read of parameter
  src/jukebox/components/rfid/hardware/generic_usb/generic_usb.py
Owners: none

Update src/jukebox/components/battery_monitor/batt_mon_i2c_ina219/__init__.py
  src/jukebox/components/battery_monitor/batt_mon_i2c_ina219/__init__.py
Owners: none

Update copyright notice
  src/jukebox/components/battery_monitor/batt_mon_i2c_ina219/__init__.py
Owners: none

Remove unused read of parameter (#2382)
  src/jukebox/components/rfid/hardware/generic_usb/generic_usb.py
Owners: none

Update license
  src/jukebox/components/battery_monitor/batt_mon_i2c_ina219/__init__.py
Owners: none

Update license
  src/jukebox/components/battery_monitor/batt_mon_i2c_ina219/__init__.py
Owners: none

Document the INA219
  documentation/builders/components/power/batterymonitor.md
Owners: none

add error handling and type safety
  src/jukebox/components/battery_monitor/batt_mon_i2c_ina219/__init__.py
Owners: none

Update batterymonitor.md
  documentation/builders/components/power/batterymonitor.md
Owners: none

.github/CODEOWNERS:

/components/controls/buttons_usb_encoder/ @jeripeierSBB
/components/synchronisation/sync-shared @AlvinSchiller
/scripts/installscripts/install-jukebox.sh @jeripeierSBB
/scripts/helperscripts/setup_autohotspot.sh @Groovylein
