Repository MiczFlor/RPi-Jukebox-RFID, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jeripeierSBB, @AlvinSchiller, @Groovylein

.github/CODEOWNERS:

/components/controls/buttons_usb_encoder/ @jeripeierSBB
/components/synchronisation/sync-shared @AlvinSchiller
/scripts/installscripts/buster-install-default.sh @jeripeierSBB
/scripts/helperscripts/autohotspot.sh @Groovylein

remove changes for autohotspot if not selected
  scripts/installscripts/buster-install-default.sh
Owners: @jeripeierSBB

ignore output on service check
  scripts/installscripts/buster-install-default.sh
Owners: @jeripeierSBB

fixes for "clear autohotspot configurations"
  scripts/installscripts/buster-install-default.sh
Owners: @jeripeierSBB

added test for autohotsppt installation
  scripts/installscripts/tests/test_installation.sh
Owners: none

fix intendation
  scripts/helperscripts/autohotspot.sh
Owners: @Groovylein

check for activated wifi device
  scripts/helperscripts/autohotspot.sh
Owners: @Groovylein

docker: optimizations
  .dockerignore
  docker/armv7/jukebox.Dockerfile
  docker/config/docker.pulse.mpd.conf
  docker/config/jukebox.overrides.yaml
  docker/docker-compose.linux.yml
  docker/docker-compose.mac.yml
  docker/docker-compose.windows.yml
  docker/docker-compose.yml
  docker/jukebox.Dockerfile
  docker/mpd.Dockerfile
  docs/sphinx/developer/docker.rst
  src/jukebox/jukebox/playlistgenerator.py
Owners: none

moved autohotspot installation to separate script
  misc/sampleconfigs/autohotspot.sh.stretch-default2-Hotspot.sample
  scripts/helperscripts/setup_autohotspot.sh
  scripts/installscripts/buster-install-default.sh
Owners: @jeripeierSBB

fix remove crontab entry
  scripts/helperscripts/setup_autohotspot.sh
Owners: none

unified: dont remove autohotspot configuration
  scripts/installscripts/buster-install-default.sh
Owners: @jeripeierSBB

fix refactored device / ssid check logic
  misc/sampleconfigs/autohotspot.sh.stretch-default2-Hotspot.sample
Owners: none

fix conf file copy handling on multiple invocation
  scripts/helperscripts/setup_autohotspot.sh
Owners: none

Rename index.md
  docs/index.md
Owners: none

Undo last commit
  docs/README.md
Owners: none

Add autohotspot
  docs/userguide/autohotspot.md
Owners: none

Finish userguide without references
  docs/userguide/bluetooth.md
  docs/userguide/card-database.md
  docs/userguide/gpio.md
  docs/userguide/mock_gpio.png
  docs/userguide/rfid.md
  src/jukebox/components/controls/bluetooth_audio_buttons/README.rst
  src/jukebox/components/gpio/gpioz/README.rst
Owners: none

Rename bt audio btns
  docs/userguide/bluetooth-audio-buttons.md
Owners: none

Adding developers and rfid
  docs/developers/coreapps.md
  docs/developers/developer-issues.md
  docs/developers/development-environment.md
  docs/developers/docker.md
  docs/rfid/README.md
  docs/rfid/basics.md
  docs/rfid/genericusb.md
  docs/rfid/mfrc522_spi.md
  docs/rfid/mock_reader.md
  docs/rfid/mock_reader.png
  docs/rfid/pn532_i2c.md
  docs/rfid/rdm6300.md
  docs/rfid/template_reader.md
  docs/userguide/bluetooth-audio-buttons.md
Owners: none
