Repository MiczFlor/RPi-Jukebox-RFID, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jeripeierSBB, @AlvinSchiller, @Groovylein

feat: Try to load cover from filesystem when not found in audio file
  src/jukebox/components/playermpd/coverart_cache_manager.py
Owners: none

fix: flake8 linting error
  src/jukebox/components/playermpd/coverart_cache_manager.py
Owners: none

docs: Add documentation for Cover Art
  documentation/builders/README.md
  documentation/builders/webapp/cover-art.md
Owners: none

feat: Allow show_covers setting to be managed in Web App
  src/jukebox/components/misc.py
  src/webapp/public/locales/de/translation.json
  src/webapp/public/locales/en/translation.json
  src/webapp/src/commands/index.js
  src/webapp/src/components/Settings/general/index.js
  src/webapp/src/components/Settings/general/show-covers.js
  src/webapp/src/components/Settings/index.js
Owners: none

fix: again flake8 linting errors
  src/jukebox/components/misc.py
Owners: none

feat: Allow to enable/disable Cover Art in Web App & load from filesystem (#2352)
  documentation/builders/README.md
  documentation/builders/webapp/cover-art.md
  resources/default-settings/jukebox.default.yaml
  src/jukebox/components/misc.py
  src/jukebox/components/playermpd/coverart_cache_manager.py
  src/webapp/public/locales/de/translation.json
  src/webapp/public/locales/en/translation.json
  src/webapp/src/App.js
  src/webapp/src/commands/index.js
  src/webapp/src/components/Library/lists/albums/album-list/album-list-item.js
  src/webapp/src/components/Player/index.js
  src/webapp/src/components/Settings/general/index.js
  src/webapp/src/components/Settings/general/show-covers.js
  src/webapp/src/components/Settings/index.js
  src/webapp/src/context/appsettings/context.js
  src/webapp/src/context/appsettings/index.js
Owners: none

refactor: Break down IdleTimer into 2 standard GenericMultiTimerClass and GenericEndlessTimerClass timers
  src/jukebox/components/timers/__init__.py
  src/jukebox/components/timers/idle_shutdown_timer.py
  src/jukebox/jukebox/multitimer.py
Owners: none

Installation fixes and refactoring (#2350)
  scripts/helperscripts/inc.helper.sh
  scripts/helperscripts/inc.networkHelper.sh
  scripts/helperscripts/setup_autohotspot.sh
  scripts/installscripts/install-jukebox.sh
  scripts/installscripts/tests/run_installation_autohotspot_NetworkManager.sh
  scripts/installscripts/tests/run_installation_autohotspot_dhcpcd.sh
  scripts/installscripts/tests/run_installation_classic.sh
  scripts/installscripts/tests/run_installation_rfid.sh
  scripts/installscripts/tests/run_installation_spotify.sh
  scripts/installscripts/tests/run_installation_staticip_dhcpcd.sh
Owners: @Groovylein, @jeripeierSBB

doc: update docs. removed duplicate / obsolete examples
  README.md
  components/gpio_control/README.md
  components/gpio_control/example_configs/gpio_setting_rotary_vol_prevnext.ini
  components/gpio_control/example_configs/gpio_settings.ini
  components/gpio_control/example_configs/gpio_settings_rotary_and_led.ini
  components/gpio_control/example_configs/gpio_settings_status_led.ini
  misc/sampleconfigs/gpio_settings.ini.sample
Owners: none

fix: fix tests
  components/gpio_control/test/test_gpio_control.py
Owners: none

fix: handle args for rotaryEncoder
  components/gpio_control/README.md
  components/gpio_control/function_calls.py
  components/gpio_control/gpio_control.py
Owners: none

fix: update default handling for yes/no questions
  components/audio/PirateAudioHAT/setup_pirateAudioHAT.sh
  components/controls/buttons_usb_encoder/setup-buttons-usb-encoder.sh
  components/rfid-reader/PN532/setup_pn532.sh
  components/rfid-reader/RC522/setup_rc522.sh
  scripts/RegisterDevice.py.Multi
Owners: @jeripeierSBB

Apply suggestions from code review
  components/gpio_control/README.md
Owners: none

transfer coverart_cache_manager
  src/jukebox/components/player/backends/mpd/interfacing_mpd.py
  src/jukebox/components/player/core/coverart_cache_manager.py
Owners: none

<UNDER CONSTRUCTION> Status publishing via multitimer
  src/jukebox/components/player/backends/mpd/interfacing_mpd.py
  src/jukebox/components/player/core/__init__.py
  src/jukebox/components/player/core/player_status.py
  src/jukebox/components/player/plugin/__init__.py
Owners: none

feat: Introducing new Timer UI, including Idle Shutdown
  src/jukebox/components/timers/idle_shutdown_timer.py
  src/webapp/public/locales/de/translation.json
  src/webapp/public/locales/en/translation.json
  src/webapp/src/commands/index.js
  src/webapp/src/components/Settings/timers/index.js
  src/webapp/src/components/Settings/timers/set-timer-dialog.js
  src/webapp/src/components/Settings/timers/timer.js
Owners: none

ignore helper scripts
  .flake8
Owners: none

fix some warnings
  components/controls/buttons_usb_encoder/buttons_usb_encoder.py
  components/controls/buttons_usb_encoder/map_buttons_usb_encoder.py
  components/gpio_control/function_calls.py
  scripts/Reader.py.pcsc
Owners: @jeripeierSBB

Update codeblock type
  components/gpio_control/README.md
Owners: none

Fix button function call (#2355)
  README.md
  components/gpio_control/README.md
  components/gpio_control/example_configs/gpio_setting_rotary_vol_prevnext.ini
  components/gpio_control/example_configs/gpio_settings.ini
  components/gpio_control/example_configs/gpio_settings_rotary_and_led.ini
  components/gpio_control/example_configs/gpio_settings_status_led.ini
  components/gpio_control/function_calls.py
  components/gpio_control/gpio_control.py
  components/gpio_control/test/test_gpio_control.py
  misc/sampleconfigs/gpio_settings.ini.sample
Owners: none

fix: update default handling for yes/no questions (#2357)
  components/audio/PirateAudioHAT/setup_pirateAudioHAT.sh
  components/controls/buttons_usb_encoder/setup-buttons-usb-encoder.sh
  components/rfid-reader/PN532/setup_pn532.sh
  components/rfid-reader/RC522/setup_rc522.sh
  scripts/RegisterDevice.py.Multi
Owners: @jeripeierSBB

Bump version to 2.7.0
  settings/version-number
Owners: none

Bump version to 2.8.0-alpha
  settings/version-number
Owners: none

<UNDER CONSTRUCTION> Correct status call in webapp
  src/jukebox/components/player/backends/mpd/interfacing_mpd.py
  src/jukebox/components/player/core/__init__.py
  src/jukebox/components/player/core/player_status.py
  src/webapp/src/commands/index.js
Owners: none

refactor: Abstract into functions
  src/jukebox/components/timers/idle_shutdown_timer.py
Owners: none

handle exception in logger
  src/jukebox/components/playermpd/__init__.py
Owners: none

Remove setup-python-dependencies
  .github/workflows/codeql-analysis_v3.yml
Owners: none

Remove setup-python-dependencies (#2363)
  .github/workflows/codeql-analysis_v3.yml
Owners: none

fix instant execution of main action on holding
  components/gpio_control/GPIODevices/simple_button.py
Owners: none

Fix links
  documentation/developers/README.md
Owners: none

Fix links (#2366)
  documentation/developers/README.md
Owners: none

simplify holdMode callback handling
  components/gpio_control/GPIODevices/simple_button.py
Owners: none

Update test_SimpleButton.py
  components/gpio_control/test/test_SimpleButton.py
Owners: none

update docs
  components/gpio_control/README.md
Owners: none

fix: only go into while loop if further held
  components/gpio_control/GPIODevices/simple_button.py
Owners: none

docs: update comments
  components/gpio_control/GPIODevices/simple_button.py
Owners: none

docs: add alert for behavior change
  components/gpio_control/README.md
Owners: none

docs: fix typo
  components/gpio_control/README.md
Owners: none

Fix button SecondFunc trigger (#2367)
  components/gpio_control/GPIODevices/simple_button.py
  components/gpio_control/README.md
  components/gpio_control/test/test_SimpleButton.py
Owners: none

ignore and fix some warnings
  .flake8
  components/controls/buttons_usb_encoder/buttons_usb_encoder.py
  scripts/daemon_rfid_reader.py
Owners: @jeripeierSBB

.github/CODEOWNERS:

/components/controls/buttons_usb_encoder/ @jeripeierSBB
/components/synchronisation/sync-shared @AlvinSchiller
/scripts/installscripts/install-jukebox.sh @jeripeierSBB
/scripts/helperscripts/setup_autohotspot.sh @Groovylein
