Repository MiczFlor/RPi-Jukebox-RFID, pull requests merged in 2024-01, with the labels that each got.

#2179 New card actions: play, pause, prev, next, toggle, repeat, shuffle
  documentation/developers/docker.md
  documentation/developers/status.md
  src/jukebox/components/playermpd/__init__.py
  src/jukebox/components/rpc_command_alias.py
  src/webapp/public/locales/de/translation.json
  src/webapp/public/locales/en/translation.json
  src/webapp/src/commands/index.js
  src/webapp/src/components/Cards/controls/actions/audio/index.js
  src/webapp/src/components/Cards/controls/actions/audio/slider-change-volume.js
  src/webapp/src/components/Cards/controls/actions/synchronisation/index.js
  src/webapp/src/components/Cards/controls/actions/synchronisation/rfidcards/change-on-rfid-scan-options.js
  src/webapp/src/components/Cards/controls/options-selector.js
  src/webapp/src/components/Player/controls.js
  src/webapp/src/components/Player/cover.js
  src/webapp/src/components/Player/index.js
  src/webapp/src/components/Player/seekbar.js
  src/webapp/src/config.js
  src/webapp/src/i18n.js
Labels: enhancement, future3

#2204 Add swap file adjustment for webapp build
  .dockerignore
  .githooks/post-merge
  .github/actions/build-webapp/action.yml
  .github/workflows/bundle_webapp_and_release_v3.yml
  .github/workflows/test_build_webapp_v3.yml
  .github/workflows/test_docker_debian_codename_sub_v3.yml
  .github/workflows/test_docker_debian_v3.yml
  CONTRIBUTING.md
  ci/installation/run_install_common.sh
  ci/installation/run_install_faststartup.sh
  ci/installation/run_install_libzmq_local.sh
  ci/installation/run_install_webapp_download.sh
  ci/installation/run_install_webapp_local.sh
  documentation/builders/autohotspot.md
  documentation/builders/concepts.md
  documentation/builders/installation.md
  documentation/builders/system.md
  documentation/builders/update.md
  documentation/developers/README.md
  documentation/developers/developer-issues.md
  documentation/developers/development-environment.md
  documentation/developers/docker.md
  documentation/developers/status.md
  documentation/developers/webapp.md
  installation/includes/00_constants.sh
  installation/includes/01_default_config.sh
  installation/includes/02_helpers.sh
  installation/includes/03_welcome.sh
  installation/includes/05_finish.sh
  installation/routines/customize_options.sh
  installation/routines/install.sh
  installation/routines/setup_jukebox_core.sh
  installation/routines/setup_jukebox_webapp.sh
  resources/default-settings/gpio.example.yaml
  resources/html/404.html
  resources/html/runbuildui.html
  src/jukebox/components/playermpd/__init__.py
  src/webapp/.gitignore
  src/webapp/.npmrc
  src/webapp/public/index.html
  src/webapp/run_rebuild.sh
Labels: enhancement, installation, future3

#2169 [New component] HiFiBerry Sound Card & OnOff SHIM
  documentation/builders/README.md
  documentation/builders/components/power/onoff-shim.md
  documentation/builders/components/soundcards/hifiberry.md
  documentation/developers/docker.md
  installation/components/setup_hifiberry.sh
  installation/includes/02_helpers.sh
  installation/options/onboard_sound.sh
Labels: enhancement, installation, future3

#2181 Create markdown docs from docstring in py files
  .githooks/pre-commit
  documentation/developers/README.md
  documentation/developers/docstring/README.md
  documentation/developers/known-issues.md
  pydoc-markdown.yml
  requirements.txt
  run_docgeneration.sh
  src/jukebox/components/battery_monitor/batt_mon_i2c_ads1015/__init__.py
  src/jukebox/components/controls/bluetooth_audio_buttons/__init__.py
  src/jukebox/components/controls/common/evdev_listener.py
  src/jukebox/components/gpio/gpioz/core/converter.py
  src/jukebox/components/gpio/gpioz/core/input_devices.py
  src/jukebox/components/gpio/gpioz/core/mock.py
  src/jukebox/components/gpio/gpioz/core/output_devices.py
  src/jukebox/components/gpio/gpioz/plugin/__init__.py
  src/jukebox/components/gpio/gpioz/plugin/connectivity.py
  src/jukebox/components/hostif/linux/__init__.py
  src/jukebox/components/jingle/__init__.py
  src/jukebox/components/playermpd/__init__.py
  src/jukebox/components/playermpd/playcontentcallback.py
  src/jukebox/components/rfid/hardware/template_new_reader/template_new_reader.py
  src/jukebox/components/rfid/reader/__init__.py
  src/jukebox/components/rpc_command_alias.py
  src/jukebox/components/volume/__init__.py
  src/jukebox/jukebox/cfghandler.py
  src/jukebox/jukebox/playlistgenerator.py
  src/jukebox/jukebox/plugs.py
  src/jukebox/jukebox/publishing/server.py
  src/jukebox/jukebox/rpc/server.py
  src/jukebox/jukebox/utils.py
  src/jukebox/misc/loggingext.py
  src/jukebox/run_configure_audio.py
  src/jukebox/run_jukebox.py
  src/jukebox/run_register_rfid_reader.py
  src/jukebox/run_rpc_tool.py
Labels: documentation, future3

#2217 deactivate kioskmode installation option on armv6 devices
  installation/routines/customize_options.sh
Labels: future3

#2216 Update docs
  documentation/README.md
  documentation/builders/README.md
  documentation/builders/components/synchronisation/rfidcards.md
  documentation/builders/configuration.md
  documentation/builders/installation.md
  documentation/builders/samba.md
  documentation/builders/update.md
  documentation/developers/README.md
  documentation/developers/docstring/README.md
  installation/includes/02_helpers.sh
  installation/install-jukebox.sh
  src/jukebox/components/rfid/hardware/fake_reader_gui/requirements.txt
  src/jukebox/components/volume/__init__.py
Labels: documentation, future3

#2223 fix the messageboxes
  documentation/builders/rpc-commands.md
  documentation/builders/system.md
  documentation/builders/troubleshooting.md
Labels: documentation, future3

#2174 Improve Bluetooth docs
  documentation/builders/audio.md
Labels: documentation, future3

#2200 Playlists, Livestreams, Podcasts
  documentation/builders/README.md
  documentation/builders/webapp/playlists-livestreams-podcasts.md
  src/jukebox/components/playermpd/__init__.py
Labels: enhancement, future3

#2214 Bugfix: re-enable Mifare Ultralight C support
  components/rfid-reader/RC522/setup_rc522.sh
  scripts/Reader.py.experimental
  scripts/inc.writeGlobalConfig.sh
  scripts/installscripts/tests/run_installation_tests2.sh
Labels: bug, legacy_v2
