Repository MiczFlor/RPi-Jukebox-RFID, pull requests merged in 2024-02, with the labels that each got.

#2225 Future3 add login motd with note about venv
  documentation/developers/README.md
  documentation/developers/python.md
  installation/routines/install.sh
  installation/routines/set_raspi_config.sh
  resources/system/99-rpi-jukebox-rfid-welcome
Labels: installation, future3

#2190 Add NFCPy support
  documentation/developers/rfid/generic_nfcpy.md
  src/jukebox/components/rfid/hardware/generic_nfcpy/README.md
  src/jukebox/components/rfid/hardware/generic_nfcpy/description.py
  src/jukebox/components/rfid/hardware/generic_nfcpy/generic_nfcpy.py
  src/jukebox/components/rfid/hardware/generic_nfcpy/requirements.txt
  src/jukebox/components/rfid/hardware/generic_nfcpy/setup.inc.sh
Labels: enhancement, future3

#2235 prevent installer rerun and remove update path
  .githooks/post-merge
  documentation/builders/gpio.md
  documentation/builders/update.md
  installation/install-jukebox.sh
Labels: installation, future3

#2218 NetworkManager Support
  ci/ci-debian.Dockerfile
  ci/installation/run_install_common.sh
  ci/installation/run_install_faststartup.sh
  ci/installation/run_install_libzmq_local.sh
  ci/installation/run_install_webapp_download.sh
  ci/installation/run_install_webapp_local.sh
  documentation/builders/autohotspot.md
  documentation/builders/installation.md
  installation/includes/00_constants.sh
  installation/includes/01_default_config.sh
  installation/includes/02_helpers.sh
  installation/routines/customize_options.sh
  installation/routines/optimize_boot_time.sh
  installation/routines/set_raspi_config.sh
  installation/routines/setup_autohotspot.sh
  installation/routines/setup_autohotspot_NetworkManager.sh
  installation/routines/setup_autohotspot_dhcpcd.sh
  resources/autohotspot/NetworkManager/autohotspot
  resources/autohotspot/NetworkManager/autohotspot.service
  resources/autohotspot/NetworkManager/autohotspot.timer
  resources/autohotspot/autohotspot
  resources/autohotspot/autohotspot.service
  resources/autohotspot/autohotspot.timer
  resources/autohotspot/dhcpcd/autohotspot
  resources/autohotspot/dhcpcd/autohotspot-daemon.service
  resources/autohotspot/dhcpcd/autohotspot.service
  resources/autohotspot/dhcpcd/autohotspot.timer
  resources/autohotspot/dhcpcd/dnsmasq.conf
  resources/autohotspot/dhcpcd/hostapd
  resources/autohotspot/dhcpcd/hostapd.conf
  src/cli_client/pbc.c
  src/jukebox/components/hostif/linux/__init__.py
Labels: bug, installation, future3

#2237 Allow default value for CoverArtCache path
  src/jukebox/components/playermpd/__init__.py
  src/jukebox/components/playermpd/coverart_cache_manager.py
Labels: future3

#2238 Link to nfcpy in docs
  documentation/developers/rfid/README.md
  documentation/developers/rfid/generic_nfcpy.md
Labels: documentation, future3

#2246 update workflow with improvements from v3
  .github/workflows/test_docker_debian.yml
  .github/workflows/test_docker_debian_codename_sub.yml
Labels: enhancement, legacy_v2

#2250 Fixes for rfid reader
  components/rfid-reader/RC522/setup_rc522.sh
  scripts/Reader.py
  scripts/Reader.py.Multi
  scripts/Reader.py.experimental
  scripts/Reader.py.experimental.Multi
  scripts/Reader.py.original
  scripts/Reader.py.pcsc
  scripts/daemon_rfid_reader.py
Labels: bug, legacy_v2

#2254 Fix for nginx with disabled ipv6
  installation/includes/02_helpers.sh
  installation/routines/setup_jukebox_webapp.sh
Labels: bug, installation, future3

#2253 Update phpunit
  .github/workflows/php.yml
  composer.json
  composer.lock
Labels: ext dependency, php, legacy_v2

#2255 Fix links in docs and message boxes
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Labels: documentation, legacy_v2

#2257 Extract docs for battery monitor
  documentation/builders/README.md
  documentation/builders/components/power/batterymonitor.md
  src/jukebox/components/battery_monitor/batt_mon_i2c_ads1015/__init__.py
Labels: documentation, future3

#2240 github actions update
  .github/workflows/test_docker_debian_codename_sub.yml
Labels: installation, legacy_v2

#2239 github actions update
  .github/workflows/bundle_webapp_and_release_v3.yml
  .github/workflows/test_docker_debian_codename_sub_v3.yml
Labels: installation, future3

#2259 (doc) Update docstring
  documentation/developers/docstring/README.md
Labels: documentation, future3

#2269 (maint) Remove duplicate rst
  documentation/developers/rfid/mock_reader.md
  src/jukebox/components/controls/bluetooth_audio_buttons/README.rst
Labels: documentation, future3

#2265 add api version to mqtt.client for new version 2.0.0 compatibility
  components/smart-home-automation/MQTT-protocol/daemon_mqtt_client.py
Labels: bug, ext dependency, python, legacy_v2

#2272 Hotfix for pyzmq installation
  docker/armv7/jukebox.Dockerfile
  docker/jukebox.Dockerfile
  installation/routines/setup_jukebox_core.sh
  src/jukebox/jukebox/version.py
Labels: bug, installation, ext dependency, future3

#1943 Event Device Support (`evdev`)
  documentation/builders/README.md
  documentation/builders/event-devices.md
  documentation/developers/docker.md
  resources/default-settings/evdev.example.yaml
  src/jukebox/components/controls/bluetooth_audio_buttons/__init__.py
  src/jukebox/components/controls/event_devices/__init__.py
  test/evdev/test_evdev_init.py
Labels: enhancement, future3

#2276 fix audio interface name in setup
  components/bluetooth-sink-switch/README.md
  scripts/installscripts/install-jukebox.sh
  scripts/installscripts/tests/run_installation_tests.sh
  scripts/installscripts/tests/run_installation_tests2.sh
  scripts/installscripts/tests/run_installation_tests3.sh
Labels: bug, installation, legacy_v2
