Repository MiczFlor/RPi-Jukebox-RFID, pull requests merged in 2024-03, with the labels that each got.

#2280 Update issue templates
  .github/ISSUE_TEMPLATE/bug_template.md
  .github/ISSUE_TEMPLATE/bug_v2.yaml
  .github/ISSUE_TEMPLATE/bug_v3.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_template.md
  .github/ISSUE_TEMPLATE/feature_v3.yaml
  .github/ISSUE_TEMPLATE/future3.md
  README.md
Labels: enhancement, documentation, future3, legacy_v2

#2292 fix: search filter in library
  src/webapp/src/components/Library/lists/index.js
Labels: future3

#2293 fix: Stop Back Action at audiofolder root level
  src/jukebox/jukebox/playlistgenerator.py
  src/webapp/public/locales/de/translation.json
  src/webapp/public/locales/en/translation.json
  src/webapp/src/components/Cards/controls/actions/play-music/selected-folder.js
  src/webapp/src/components/Library/lists/folders/folder-list-item.js
  src/webapp/src/components/Library/lists/folders/folder-list.js
  src/webapp/src/components/Library/lists/folders/index.js
  src/webapp/src/config.js
Labels: future3

#2297 Reactivate delete artifact
  .github/workflows/test_docker_debian_codename_sub_v3.yml
Labels: future3, github_actions

#2296 Reactivate delete artifact
  .github/workflows/test_docker_debian_codename_sub.yml
Labels: github_actions, legacy_v2

#2298 Fix path to config.txt for bookworm support
  ci/Dockerfile.debian
  components/audio/PirateAudioHAT/README.md
  components/audio/PirateAudioHAT/setup_pirateAudioHAT.sh
  scripts/helperscripts/inc.systemHelper.sh
Labels: installation, legacy_v2

#2301 Docs: Fix GPIO shutdown button naming
  documentation/builders/gpio.md
Labels: documentation, future3

#2284 Add markdown linting
  .githooks/pre-commit
  .github/ISSUE_TEMPLATE/bug_template.md
  .github/workflows/markdown_v3.yml
  .markdownlint-cli2.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  documentation/README.md
  documentation/builders/audio.md
  documentation/builders/autohotspot.md
  documentation/builders/components/power/onoff-shim.md
  documentation/builders/components/soundcards/hifiberry.md
  documentation/builders/configuration.md
  documentation/builders/event-devices.md
  documentation/builders/installation.md
  documentation/builders/samba.md
  documentation/builders/troubleshooting.md
  documentation/builders/webapp/playlists-livestreams-podcasts.md
  documentation/developers/README.md
  documentation/developers/docker.md
  documentation/developers/documentation.md
  documentation/developers/rfid/README.md
  documentation/developers/rfid/generic_nfcpy.md
  documentation/developers/rfid/mfrc522_spi.md
  documentation/developers/rfid/pn532_i2c.md
  documentation/developers/rfid/template_reader.md
  documentation/developers/webapp.md
  run_markdownlint.sh
  src/webapp/package-lock.json
  src/webapp/package.json
Labels: documentation, future3

#2300 docs: Manually upgrade to the latest version
  documentation/builders/update.md
Labels: documentation, installation, future3

#2303 Wiki updates (Sidebar and Gallery)
  README.md
  docs/2019-Phoniebox-Calendar.jpg
  docs/2020-Phoniebox-Calendar.jpg
  docs/2021-Phoniebox-Calendar.jpg
  docs/2022-Phoniebox-Calendar.jpg
  docs/2023-Phoniebox-Calendar.jpg
  docs/2024-Phoniebox-Calendar.jpg
  docs/img/gallery/Alpha-20170310_h90-01.jpg
  docs/img/gallery/Elsa-20171210_h90-01.jpg
  docs/img/gallery/Geliras-20171228-Jukebox-01-h90.jpg
  docs/img/gallery/Jens-Braeuer-Jan-2018-h90-01.jpg
  docs/img/gallery/KingKahn-20180101-Jukebox-01-h90.jpg
  docs/img/gallery/Markus-20171218_h90-01.jpg
  docs/img/gallery/Steph-20171215_h90-01.jpg
  docs/img/gallery/UlliH-20171210_h90-01.jpg
  docs/img/gallery/hailogugo-20171222-h90-01.jpg
  docs/img/gallery/tullm-jan2018_h90-01.jpg
  docs/img/gallery/tullm-jan2018_h90-02.jpg
  docs/img/iFun-YouTube.jpg
  docs/img/web-app-iphone-screens.jpg
Labels: documentation, legacy_v2

#2310 Customize markdownlint
  .markdownlint-cli2.yaml
  documentation/builders/installation.md
  documentation/developers/webapp.md
Labels: enhancement, documentation, future3

#2309 Enforce MPD setup during installation
  .github/workflows/test_docker_debian_codename_sub.yml
  misc/sampleconfigs/mpd.conf.buster-default.sample
  misc/sampleconfigs/mpd.conf.sample
  scripts/installscripts/install-jukebox.sh
  scripts/installscripts/tests/run_installation_autohotspot_NetworkManager.sh
  scripts/installscripts/tests/run_installation_autohotspot_dhcpcd.sh
  scripts/installscripts/tests/run_installation_classic.sh
  scripts/installscripts/tests/run_installation_rfid.sh
  scripts/installscripts/tests/run_installation_spotify.sh
  scripts/installscripts/tests/run_installation_staticip_dhcpcd.sh
  scripts/installscripts/tests/test_installation.sh
Labels: bug, installation, legacy_v2

#2312 Update CodeQL to v3
  .github/workflows/codeql-analysis_v3.yml
Labels: enhancement, ext dependency, future3, github_actions
